<web-app> 
 
    <servlet> 
    <servlet-name>PageHitCounter</servlet-name> 
    <servlet-class> PageHitCounter </servlet-class> 
    </servlet>    
    <servlet-mapping> 
    <servlet-name> PageHitCounter </servlet-name> 
    <url-pattern>/ PageHitCounter </url-pattern>    
    </servlet-mapping> 
 
</web-app> 
 
